@mixin HeadingOneTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 1.2857rem + 3.5714vw, 4.5rem);
    line-height: 98px;
}

@mixin HeadingTwoTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
    line-height: 33px;
}

@mixin HeadingThreeTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
}

@mixin CTAHeroTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
    line-height: 33px;
    color: #838D9B;
}

@mixin NavBarLinks {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
}

@mixin BodyTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}