@mixin HeadingOneTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem, 1.2857rem + 3.5714vw, 4.5rem);
}

@mixin HeadingTwoTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
    line-height: 2.0625rem;
}

@mixin HeadingThreeTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.75rem;
}

@mixin CTAHeroTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
    line-height: 2.0625rem;
    color: #838D9B;
}

@mixin NavBarLinks {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.0625rem;
}

@mixin BodyTypography {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}