/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
    .HeroSectionContent {
        width: 1140px;
        margin: 0 auto;
    }
    .swiper-wrapper {
        width: 1140px;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        width: 1140px;
        margin: 0 auto;
    }
}

/****** DESKTOP - 1025px --> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
    .HeroSectionContent {
        padding: 0 150px;
    }
    .ActivitiesSection {
        padding: 0 150px;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        padding: 0 150px;
    }
}

/****** TABLET - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
    .HeroSectionContent,
    .ActivitiesSection {
        padding: 0 32px;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        padding: 32px 0;
    }
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
    .HeroSectionContent,
    .ActivitiesSection {
        padding: 0 24px;
    }
    .Footer > .TopSection {
        flex-direction: column;
        align-items: center;
        padding: 24px 0;
    }
    .Footer > .TopSection > .BusinessDetails {
        text-align: center;
    }
}

/****** MOBILE - 375px ******/

@media only screen and (width <= 375px) {
    .HeroSectionContent,
    .ActivitiesSection {
        padding: 0 24px;
    }
    .Footer > .TopSection {
        flex-direction: column;
        align-items: center;
        padding: 24px 0;
    }
    .Footer > .TopSection > .FooterMenu {
        text-align: center;
    }
    .Footer > .TopSection > .BusinessDetails {
        text-align: center;
    }
}