/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
    .HeroSectionContent {
        width: 1140px;
        margin: 0 auto;
        gap: 205px;
    }
    .CurrentToursListItem {
        padding-left: 31px;
    }
    .swiper-wrapper {
        width: 1140px;
    }
    .TestimonialsSection {
        width: 1140px;
        margin: 0 auto;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        width: 1140px;
        margin: 0 auto;
    }
}

/****** DESKTOP - 1025px --> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
    .Header {
        padding: 40px 150px;
    }
    .HeroSectionContent {
        padding: 0 150px;
        gap: 205px;
    }
    .CurrentToursListItem {
        padding-left: 31px;
    }
    .ActivitiesSection {
        padding: 0 150px;
    }
    .TestimonialsSection {
        padding: 80px 150px;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        padding: 0 150px;
    }
}

/****** TABLET - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
    .HeroSectionContent,
    .ActivitiesSection {
        padding: 0 32px;
    }
    .TestimonialsSection {
        padding: 32px;
    }
    .SideBottomLine {
        width: 25px;
    }
    .RightSideContent {
        width: 100vw;
    }
    /* .CurrentToursList {
        text-align: center;
    } */
    .CTAHeroSection {
        left: 0;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        padding: 32px 0;
    }
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
    .HeroSectionContent,
    .ActivitiesSection,
    .TestimonialsSection {
        padding: 0 24px;
    }
    .ActivitiesSection {
        position: relative;
        top: 100px;
    }
    .swiper {
        padding: 35px;
    }
    .HeroSectionContent {
        flex-direction: column;
    }
    .CurrentToursList {
        text-align: center;
    }
    .SideBottomLine {
        display: none;
    }
    .LeftSideContent {
        align-items: center;
        text-align: center;
    }
    .RightSideContent {
        width: 100vw;
    }
    .CTAHeroSection {
        position: unset !important;
        i {
            display: none !important;
        }
    }
    .Footer > .TopSection {
        flex-direction: column;
        align-items: center;
        padding: 24px 0;
    }
    .Footer > .TopSection > .BusinessDetails {
        text-align: center;
        padding-bottom: 40px;
    }
}

/****** MOBILE - 375px ******/

@media only screen and (width <= 375px) {
    .HeroSectionContent,
    .ActivitiesSection,
    .TestimonialsSection {
        padding: 0 24px;
    }
    .ActivitiesSection {
        position: relative;
        top: 100px;
    }
    .swiper {
        padding: 35px;
    }
    .HeroSectionContent {
        flex-direction: column;
    }
    .LeftSideContent {
        align-items: center;
        text-align: center;
    }
    .RightSideContent {
        width: 100vw;
    }
    .CurrentToursList {
        text-align: center;
    }
    .SideBottomLine {
        display: none;
    }
    .CTAHeroSection {
        position: unset !important;
        i {
            display: none !important;
        }
    }
    .Footer > .TopSection {
        flex-direction: column;
        align-items: center;
        padding: 24px 0;
    }
    .Footer > .TopSection > .FooterMenu {
        text-align: center;
    }
    .Footer > .TopSection > .BusinessDetails {
        text-align: center;
        padding-bottom: 40px;
    }
}