/****** WIDE - 90rem+ ******/

@media only screen and (90.0625rem <= width) {
    .HeroSectionContent {
        width: 71.25rem;
        margin: 0 auto;
        gap: 12.8125rem;
    }
    .CurrentToursListItem {
        padding-left: 1.9375rem;
    }
    .swiper-wrapper {
        width: 71.25rem;
    }
    .TestimonialsSection {
        width: 71.25rem;
        margin: 0 auto;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        width: 71.25rem;
        margin: 0 auto;
    }
}

/****** DESKTOP - 64.0625rem --> 90rem ******/

@media only screen and (64.0625rem <= width <= 90rem) {
    .Header {
        padding: 2.5rem 9.375rem;
    }
    .HeroSectionContent {
        padding: 0 9.375rem;
        gap: 12.8125rem;
    }
    .CurrentToursListItem {
        padding-left: 1.9375rem;
    }
    .ActivitiesSection {
        padding: 0 9.375rem;
    }
    .TestimonialsSection {
        padding: 5rem 9.375rem;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        padding: 0 9.375rem;
    }
}

/****** TABLET - 46.5625rem --> 64rem ******/

@media only screen and (46.5625rem <= width <= 64rem) {
    .HeroSectionContent,
    .ActivitiesSection {
        padding: 0 2rem;
    }
    .TestimonialsSection {
        padding: 2rem;
    }
    .SideBottomLine {
        width: 1.5625rem;
    }
    .RightSideContent {
        width: 100vw;
    }
    /* .CurrentToursList {
        text-align: center;
    } */
    .CTAHeroSection {
        left: 0;
    }
    .Footer > .TopSection {
        align-items: flex-end;
        padding: 2rem 0;
    }
}

/****** TABLET (SMALL) - 23.5rem --> 46.5rem ******/

@media only screen and (23.5rem <= width <= 46.5rem) {
    .HeroSectionContent,
    .ActivitiesSection,
    .TestimonialsSection {
        padding: 0 1.5rem;
    }
    .TestimonialsSection {
        position: relative;
        top: 18.125rem
    }
    .ActivitiesSection {
        position: relative;
        top: 28.125rem;
    }
    .swiper {
        padding: 2.1875rem;
    }
    .HeroSectionContent {
        flex-direction: column;
    }
    .CurrentToursList {
        text-align: center;
    }
    .SideBottomLine {
        display: none;
    }
    .LeftSideContent {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15rem 0;
    }
    .RightSideContent {
        width: 100vw;
    }
    .CTAHeroSection {
        position: unset !important;
        i {
            display: none !important;
        }
    }
    .Footer {
        position: relative;
        top: 18.125rem;
        padding: 0 15px;
    }
    .Footer > .TopSection {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0;
    }
    .Footer > .TopSection > .BusinessDetails {
        text-align: center;
        padding-bottom: 2.5rem;
    }
}

/****** MOBILE - 23.4375rem ******/

@media only screen and (width <= 23.4375rem) {
    .HeroSectionContent,
    .ActivitiesSection,
    .TestimonialsSection {
        padding: 0 1.5rem;
    }
    .TestimonialsSection {
        position: relative;
        top: 18.125rem
    }
    .ActivitiesSection {
        position: relative;
        top: 28.125rem;
    }
    .swiper {
        padding: 2.1875rem;
    }
    .HeroSectionContent {
        flex-direction: column;
    }
    .LeftSideContent {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15rem 0;
    }
    .RightSideContent {
        width: 100vw;
    }
    .CurrentToursList {
        text-align: center;
    }
    .SideBottomLine {
        display: none;
    }
    .CTAHeroSection {
        position: unset !important;
        i {
            display: none !important;
        }
    }
    .Footer {
        position: relative;
        top: 18.125rem;
        padding: 0 15px;
    }
    .Footer > .TopSection {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0;
    }
    .Footer > .TopSection > .FooterMenu {
        text-align: center;
    }
    .Footer > .TopSection > .BusinessDetails {
        text-align: center;
        padding-bottom: 2.5rem;
    }
}