/****** COLORS ******/

$Black: #000000;
$RichBlack: #000408;
$CharlestonGreen: #262C31;
$RomanSilver: #838D9B;
$MoonstoneBlue: #68B1C8;
$LightSilver: #d9d9d9;
$White: #ffffff;

/****** TRANSITIONS ******/

$Transition-03: 1s all ease-in;