@use '../_partials/variables' as *;
@use '../_partials/mixins' as *;

.ContainerBody {
    flex-direction: column;
}

.HeaderAndHeroSection {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .HeaderAndHeroImg {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.HeroSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 135px;
    .HeroSectionContent {
        display: flex;
        height: 100%;
        .LeftSideContent,
        .RightSideContent {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 35px;
        }
    }
}

.SideBottomLine {
    height: 165px;
    width: 95px;
    border: solid $LightSilver;
    border-width: 0 0 1px 1px;
}

.CTAHeroSection {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    top: -68.6px;
    left: 71px;
    .Arrow {
        width: 15px;
        height: 15px;
        display: block;
        border: solid $White;
        border-width: 0 1px 1px 0;
        padding: 3px;
        rotate: 315deg;
    }
    p {
        @include CTAHeroTypography;
    }
}

.CurrentTours {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12.5px);
    padding: 35px 25px;
}

.HeroTitle {
    @include HeadingOneTypography;
}

.HeroSubTitle {
    @include HeadingTwoTypography;
}

.CurrentToursList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}

.CurrentToursListItem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
        @include HeadingThreeTypography;
    }
    p {
        @include BodyTypography;
    }
}

.ActivitiesSection {
    display: flex;
    align-items: center;
    height: 100vh;
    .ActivityCard {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        .ActivityImage {
            width: auto;
            height: auto;
        }
        .ActivityTitle {
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
        }
        .ActivityDescription {
            font-weight: 400;
            font-size: 21px;
            line-height: 29px;
        }
        .ActivityPrice {
            font-weight: 600;
            font-size: 21px;
            line-height: 29px;
        }
    }
    .ActivityCardAccent {
        position: absolute;
        left: 0;
        width: 100%;
    }
}

.TestimonialsSection {
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    .TestimonialHeader {
        font-weight: 600;
        font-size: 42px;
        line-height: 57px;
        text-align: center;
        padding-bottom: 40px;
    }
    .TestimonialCard {
        display: flex;
        flex-direction: column;
        gap: 25px;
        background: rgba(38, 44, 49, 0.25);
        backdrop-filter: blur(12.5px);
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            padding: 30px 21px;
        }
        .TestimonialImage {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .TestimonialQuote {
            font-weight: 400;
            font-size: 21px;
            line-height: 29px;
            text-align: center;
        }
        .TestimonialName {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }
    }
    .TestimonialCardAccent {
        position: absolute;
        width: 100%;
        left: 0;
        object-fit: none;
        height: 100%;
    }
}

/* .ActivitiesSection {
    flex-direction: column;
    overflow: hidden;
    height: 649px;
    margin: 0 auto;       
    .ActivityCard {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        img {
            width: auto;
            height: auto;
        }
    }
    .swiper-wrapper {
        display: flex;
    }
} */