@use '../_partials/variables' as *;
@use '../_partials/mixins' as *;

.ContainerBody {
    > * {
        display: flex;
    }
    flex-direction: column;
}

.HeroSection {
    display: flex;
    flex-direction: column;
    //position: absolute;
    top: 134px;
    //height: calc(100vh - 134px);
    width: 100%;
    .HeroSectionContent {
        display: flex;
        height: 100%;
        .LeftSideContent,
        .RightSideContent {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            gap: 35px;
        }
    }
}

.SideBottomLine {
    height: 363px;
    width: 165px;
    border: solid $LightSilver;
    border-width: 0 0 1px 1px;
}

.CTAHeroSection {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    top: -52.1px;
    left: 140px;
    .Arrow {
        width: 15px;
        height: 15px;
        display: block;
        border: solid $White;
        border-width: 0 1px 1px 0;
        padding: 3px;
        rotate: 315deg;
    }
    p {
        @include CTAHeroTypography;
    }
}

.CurrentTours {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12.5px);
    padding: 35px 25px;
}

.HeroTitle {
    @include HeadingOneTypography;
}

.HeroSubTitle {
    @include HeadingTwoTypography;
}

.CurrentToursList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}

.CurrentToursListItem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
        @include HeadingThreeTypography;
    }
    p {
        @include BodyTypography;
    }
}

.ActivitiesSection {
    align-items: center;
    height: 649px;
    .ActivityCard {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .ActivityImage {
            width: auto;
            height: auto;
        }
        .ActivityTitle {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
        }
        .ActivityDescription {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 29px;
        }
        .ActivityPrice {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 29px;
        }
    }
    .ActivityCardAccent {
        position: absolute;
        left: 0;
        width: 100%;
    }
}

/* .ActivitiesSection {
    flex-direction: column;
    overflow: hidden;
    height: 649px;
    margin: 0 auto;       
    .ActivityCard {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        img {
            width: auto;
            height: auto;
        }
    }
    .swiper-wrapper {
        display: flex;
    }
} */