@use '../_partials/variables' as *;
@use '../_partials/mixins' as *;

.ContainerBody {
    > * {
        display: flex;
    }
    flex-direction: column;
}

.HeroSection {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 134px;
    width: 100%;
    height: 100vh;
    .HeroSectionContent {
        display: flex;
        height: 100%;
        .LeftSideContent,
        .RightSideContent {
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
        }
    }
}

.SideBottomLine {
    height: 363px;
    width: 165px;
    border: solid $LightSilver;
    border-width: 0 0 1px 1px;
    margin-top: 35px;
}

.CTAHeroSection {
    display: flex;
    gap: 30px;
    position: relative;
    top: -11.5px;
    left: 140px;
    .Arrow {
        width: 15px;
        height: 15px;
        display: block;
        border: solid $White;
        border-width: 0 1px 1px 0;
        padding: 3px;
        rotate: 315deg;
    }
    p {
        @include CTAHeroTypography;
    }
}

.CurrentTours {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12.5px);
    padding: 35px 25px;
}

.HeroTitle {
    @include HeadingOneTypography;
}

.HeroSubTitle {
    @include HeadingTwoTypography;
}

.CurrentToursList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style-type: none;
}

.CurrentToursListItem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h3 {
        @include HeadingThreeTypography;
    }
    p {
        @include BodyTypography;
    }
}