@use '../_partials/mixins' as *;
@use '../_partials/variables' as *;

.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 2.8125rem 0;
    .HeaderNavLinks {
        display: flex;
        list-style-type: none;
        gap: .625rem;
        @include NavBarLinks;
        li {
            transition: $Transition-03;
            cursor: pointer;
            &:first-child {
                font-weight: 700;
            }
            &:hover:not(:first-child) {
                transition: $Transition-03;
                font-weight: 500;
            }
        }
    }
    .HeaderCTA {
        background: none;
        outline: none;
        border: none;
        @include NavBarLinks;
        color: $MoonstoneBlue;
        font-weight: 700;
        cursor: pointer;
        transition: $Transition-03;
        &:hover {
            color: $RomanSilver;
            transition: $Transition-03;
        }
    }
}

.NavbarToggle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1875rem;
    cursor: pointer;
    .ToggleLine {
        transition: $Transition-03;
        width: 1.25rem;
        height: .0625rem;
        background-color: white;
    }
}

.ToggleActive .ToggleLine {
    &:first-child {
        transition: $Transition-03;
        transform: rotate(45deg) translate(.2188rem, .1875rem);
    }
    &:nth-child(2) {
        transition: $Transition-03;
        opacity: 0;
    }
    &:last-child {
        transition: $Transition-03;
        transform: rotate(-45deg) translate(.125rem, -0.125rem);;
    }
}

@media only screen and (width <= 37.5rem) {
    .Header {
        justify-content: space-around;
        gap: 4.6875rem;
    }
    .Navbar {
        z-index: 1;
    }
    .NavbarToggle {
        display: flex;
        z-index: 9;
        cursor: pointer;
    }
    .HeaderCTA,
    .HeaderMenu {
        display: none !important;
    }
    .HeaderNavLinks {
        position: fixed !important;
        right: 0;
        background-color: $RichBlack;
        width: 100vw;
        height: 100vh;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.125rem;
        transform: translateX(100%);
        transition: $Transition-03;
    }
}

.NavActive {
    transform: translateX(0);
}