@use '../_partials/mixins' as *;
@use '../_partials/variables' as *;

.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 45px 0;
    .HeaderMenu {
        display: flex;
        list-style-type: none;
        gap: 10px;
        @include NavBarLinks;
        li {
            transition: $Transition-03;
            cursor: pointer;
            &:first-child {
                font-weight: 700;
            }
            &:hover:not(:first-child) {
                transition: $Transition-03;
                font-weight: 500;
            }
        }
    }
    .HeaderCTA {
        background: none;
        outline: none;
        border: none;
        @include NavBarLinks;
        color: $MoonstoneBlue;
        font-weight: 700;
        cursor: pointer;
        transition: $Transition-03;
        &:hover {
            color: $RomanSilver;
            transition: $Transition-03;
        }
    }
}

.NavbarToggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    .ToggleLine {
        transition: $Transition-03;
        width: 20px;
        height: 1px;
        background-color: white;
    }
}

.ToggleActive .ToggleLine {
    &:first-child {
        transition: $Transition-03;
        transform: rotate(45deg) translate(3.5px, 3px);
    }
    &:nth-child(2) {
        transition: $Transition-03;
        opacity: 0;
    }
    &:last-child {
        transition: $Transition-03;
        transform: rotate(-45deg) translate(2px, -2px);;
    }
}

@media only screen and (width <= 600px) {
    .NavbarToggle {
        display: flex;
        z-index: 9;
        cursor: pointer;
    }
    .HeaderCTA {
        display: none;
    }
    .HeaderNavLinks {
        position: absolute !important;
        left: 0;
        background-color: $RichBlack;
        width: 100vw;
        height: 100vh;
        top: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        transform: translateX(100%);
        transition: $Transition-03;
    }
}

.NavActive {
    transform: translateX(50%);
}