@use '../_partials/mixins' as *;
@use '../_partials/variables' as *;

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: absolute;
    width: 100%;
    padding: 45px 0;
    .HeaderMenu {
        display: flex;
        list-style-type: none;
        gap: 10px;
        @include NavBarLinks;
        li {
            &:first-child {
                font-weight: 700;
            }
        }
    }
    .HeaderCTA {
        background: none;
        outline: none;
        border: none;
        @include NavBarLinks;
        color: $MoonstoneBlue;
        font-weight: 700;
    }
}