@use '../_partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    &:is(&::after, &::before, *) {
        box-sizing: border-box;
    }
    outline: 1px solid red;
    color: $White;
}

#root {
    display: flex;
    flex-direction: column;
    > * {
        display: flex;
    }
}